{% extends "base.html" %}


{% block content %}
<div class="container mt-5">
    <h1>Добавить отзыв о ресторане {{ restaurant_name }}</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="rating" class="form-label">Оценка (1-5)</label>
            <input type="number" class="form-control" id="rating" name="rating" required min="1" max="5">
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Комментарий</label>
            <textarea class="form-control" id="comment" name="comment" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Добавить отзыв</button>
    </form>
</div>
{% endblock %}
